  /*for all pages*/

.logo {
    display: inline-block;
    max-width: 50px;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-left: 2%;
  } 
  .footer{
  display: inline-block;
  max-width: 50px;
  width: auto;
  height: auto;
  border-radius: 50%;
  } 
  
  .footer1{
  display: inline-block;
  max-width: 35px;
  width: auto;
  height: auto;
  }     
  .icons{
    max-width: 125px;
    width: auto;
    height: auto;          
    }
  /*for home page*/
  
  .bannerfont{
  font-size: 80px;
  }          
  .bannerimg{
  max-width: 400px;
  width: auto;
  height: auto;          
  }
  .products{
    min-width: 320px;
    min-height: 220px;
  }
  
  .Bcol{
  background-color: #eb5757;
  }
  .Bcol:hover{
  background-color: #ed7b7a;
  }

  /*About Page*/

  .banner{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.50), rgb(0, 0, 0,0.75)), url('Images/banner_1.png');;
    
    background-repeat: no-repeat;
    background-position: 100% 25%;
    background-size: cover;
  }

  /* Contacts Page */

  .map-responsive {
    overflow: hidden;
    padding-bottom:56.25%;   
    position: relative;
    height: 0;
  }

    .map-responsive iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 100%;
    position: absolute;
  }
  .iconssm{
    max-width: 80px;
    width: auto;
    height: auto; 
  }
   